body {
  text-align: center;
}

input {
  text-align: center;
}

button {
  margin: 0 0 20px 0;
}

#divInputs {
  width: 50%;
  margin: auto;
}

.card {
  width: 50%;
  margin: auto;
}

.divInputIngrediente, .ingrediente {
  font-size: 1.5rem;
}

#container > * {
  margin-top: 10px;
}
@media (max-width: 1200px) {
  .card {
    width: 80%;
    margin: auto;
  }  
}